<section class="goods" id="goods">
  <div class="goods__left">
    <div class="goods__open">
      <div class="goods__dot"></div>
      <div class="goods__dot"></div>
      <div class="goods__dot"></div>
    </div>
  </div>
  <div class="container"> <!--TODO: refactoring-->
    <div class="row">
      <div class="col-lg-4">
        <div class="item">
          <button class="item__btn">
            {{products[0]?.price}}
          </button>
          <div class="item__more">
            <div class="item__dot"></div>
            <div class="item__dot"></div>
            <div class="item__dot"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="item">
          <img src="" alt="" class="item__cart">
          <img src="" alt="" class="item__like">
          <button class="item__btn">

          </button>
          <div class="item__more">
            <div class="item__dot"></div>
            <div class="item__dot"></div>
            <div class="item__dot"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="item">
          <img src="" alt="" class="item__cart">
          <img src="" alt="" class="item__like">
          <button class="item__btn">

          </button>
          <div class="item__more">
            <div class="item__dot"></div>
            <div class="item__dot"></div>
            <div class="item__dot"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="item">
          <img src="" alt="" class="item__cart">
          <img src="" alt="" class="item__like">
          <button class="item__btn">

          </button>
          <div class="item__more">
            <div class="item__dot"></div>
            <div class="item__dot"></div>
            <div class="item__dot"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="item">
          <img src="" alt="" class="item__cart">
          <img src="" alt="" class="item__like">
          <button class="item__btn">

          </button>
          <div class="item__more">
            <div class="item__dot"></div>
            <div class="item__dot"></div>
            <div class="item__dot"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="item">
          <img src="" alt="" class="item__cart">
          <img src="" alt="" class="item__like">
          <button class="item__btn">

          </button>
          <div class="item__more">
            <div class="item__dot"></div>
            <div class="item__dot"></div>
            <div class="item__dot"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
